<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tourist Portal - Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <a class="navbar-brand ml-5" href="/">Tourist Portal</a>
        <ul class="navbar-nav ml-auto mr-5">
            <li class="navbar-item mr-3">
                <a class="nav-link" href="/weather">Weather</a>
            </li>
            <li class="navbar-item mr-3">
                <a class="nav-link" href="/route">Route</a>
            </li>
            <div th:if="${user}">
                <li class="navbar-item mr-3">
                    <a class="nav-link" href="/profil">Profil</a>
                </li>
            </div>
            <div th:unless="${user}">
                <li class="navbar-item mr-3">
                    <a class="nav-link" href="/signin">Sign in</a>
                </li>
            </div>
        </ul>
    </nav>
</header>

<div class="container mt-5">
    <div class="row justify-content-lg-center">
        <div class="col-xl-4 bg-dark text-secondary">
            <form th:action="@{/registration-post}" method="post" th:object="${ruser}">
                <div class="d-flex justify-content-center">
                    <h2 class="form-signin-heading justify-content-lg-center text-secondary">Please sign in</h2>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" th:field="*{name}" class="form-control" required="" autofocus="" placeholder="Name"/>
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input id="surname" type="text" th:field="*{surname}" class="form-control" required="" autofocus="" placeholder="Surname"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" th:field="*{email}" class="form-control" required="" autofocus="" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control" required="" autofocus="" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation">Password confirmation</label>
                    <input id="passwordConfirmation" type="password" th:field="*{passwordConfirmation}" class="form-control" required="" autofocus="" placeholder="Password Confirmation"/>
                </div>
                <div class="form-group mt-3 d-flex justify-content-center">
                    <input type="submit" value="Sign up" class="btn btn-success mr-1"/>
                    <a href="/" class="btn btn-primary ml-1">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="container fixed-bottom">
    <!--<p class="float-right">
        <a class="text-dark" href="#">Back to top</a>
    </p>-->
    <hr class="featurette-divider mb-2"/>
    <ul class=" d-inline">
        <li class="d-inline mr-3">
            <a class="text-dark" href="#">Facebook</a>
        </li>
        <li class="d-inline ml-3 mr-3">
            <a class="text-dark" href="#">Twitter</a>
        </li>
    </ul>
    <p class="d-inline ml-5">
        &copy; 2018 Tourist portal
    </p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>